body{
    font-family: segoe ui, sans-serif;
}
div#navbarResponsive {
    display: flex;
    float: right;
 }   
.menuList {
    float: right;
    width: 100%;
    background: black;
}
.menuList ul li {
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 20px;
    margin-right: 17px;
    float: left;
}
.menuList ul li a {
    background: blue;
    padding: 9px;
    width: 130%;
    border-right: yellow;
/*    border-radius: 19px;
*/    color: black!important;
}
.menuList ul li a:hover {
    background: #ffc61a;
    padding: 9px;
/*    border-radius: 19px;
*/    color: black!important;
}
/*.menuList ul li:hover {
	text-decoration-color: orange;
    list-style: none;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 20px;
    margin-right: 17px;
    float: left;
}*/
.bd-example {
    overflow: auto;
    height: 40vh;
    width: 97%;
}