body{
    font-family: segoe ui, sans-serif;
}

.society {
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #111;
}

.happy {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 400;
    text-shadow: 0px 0px 10px #111;
    text-decoration: overline deepskyblue;
}

.welcome {
    margin-top: 10%;
    font-size: 95px;
    color: deepskyblue;
    text-shadow: 0px 1px 1px #111; 
    background: rgba(100,0,100,0.5);
}


.header1 {
    height: 100vh;
    background-image: url(../image/Ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar{
    width: 15%;
    position: absolute;
    height: 1280px;
    background: rgba(0,0,0,0.8);
    border-left:solid 2px deepskyblue;
    border-bottom-right-radius: 15px;
}

.sidebar li a{
    color: aliceblue;
    text-decoration: none;
}

.sidebar li{
    color: aliceblue;
    padding: 5%;
    margin-top: 25%;
    border-right: solid cyan; 
    background: #222;
}

.sidebar li:hover{
    color: aliceblue;
    padding: 5%;
    margin-top: 25%;
    border-right: solid cyan;
    background: #444;
}

#videos_list{
    margin-left: 22%;
    
}
.header2{
    background: url(../image/train_railroad_tracks_mood_1920x1200.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
   height: 193vh;
   display: flex;
}

.col-md-4 .card{
    height: 95%;
    border-right: #111;
    color: aliceblue;
    border-bottom: solid 2px deepskyblue;
    background: #222;
}

.col-md-4 .card:hover{
    border-right: #333;
    color: deepskyblue;
    border-bottom: solid 2px cyan;
    background: #444;
}

.navbar{
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 9px #999;
    
}

.navbar ul{
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 9px #eee;
}

.navbar a{
    background: transparent;
    margin-left: 10px;    
    margin-right: 10px; 
}

.navbar a:hover{
    background: deepskyblue;
    color: aliceblue;
    margin-left: 10px;    
    margin-right: 10px;        
}
div#videos-2 {
/*    position: absolute;
*/    margin-left: -34px;
}
/*div#videos8 {
    width: 84%;
}*/
/*div#videos-7 {
    width: 87%;
    position: absolute;
}*/
/*div#video5 {
    border: solid 3px red;
    margin-right: 267px;
    width: 100%;
}*/
#video-2, #video-3, #video-4, div#video-5, #video-6, #video-7, #video-8, #video-9, #video-10 {
    position: absolute;
    margin-right: 233px;
/*    float: right;
*//*    border: solid 5px red;
*/}
.sidebar {
    position: absolute;
}
.sidebar ul li:hover {
    cursor: pointer;
}
body.header2.row.space {
    margin-left: -56px;
}
section.copiright {
    background: #1216;
    text-align: center;
    height: 12vh;
}

/*Populaire CSS*/
section.popular-video {
    text-align: center;
    -webkit-mask-position-y: center;
    margin-left: -125px;
}

/*Propos CSS*/
p.writer {
    float: left;
    margin-top: 50px;
    color: #733;
}